<div class="ItemCard--Content">
  <div class="ItemCard--ImageBorder"></div>
  <div class="ItemCard--Image">
    <div class="ItemCard--ImageBackground">
      <app-picture type="itemBg" [excl]="item.excl"></app-picture>
    </div>
    <div class="ItemImage">
      <app-picture [uid]="item?.uid" type="item"></app-picture>
    </div>
  </div>
  <h2 class="ItemCard--Title">
    <div class="Title--Image" [style]=" 'ui/itemtypes/' + this.titleImage[this.item.type] | uiIcon ">
    </div><span class="Title--String">{{item?.uid}}</span>
  </h2>
  <div class="ItemCard--Tier">
    <div class="Tier--Value">{{item?.tier}}</div>
  </div>
  <div class="ItemCard--MoreDetails">
    <div class="MoreDetailsContent"> i </div>
  </div>
  <div class="ItemCard--Resources">
    <app-resources-item type="resource" *ngIf="item.resource1" [uid]="item.resource1" [quantity]="item?.r1Qty">
    </app-resources-item>
    <app-resources-item type="resource" *ngIf="item.resource2" [uid]="item.resource2" [quantity]="item?.r2Qty">
    </app-resources-item>
    <app-resources-item type="resource" *ngIf="item.resource3" [uid]="item.resource3" [quantity]="item?.r3Qty">
    </app-resources-item>
    <app-resources-item type="component" *ngIf="item.component1" [uid]="item.component1" [quantity]="item?.c1Qty">
    </app-resources-item>
    <app-resources-item type="component" *ngIf="item.component2" [uid]="item.component2" [quantity]="item?.c2Qty">
    </app-resources-item>
  </div>
  <div class="ItemCard--Info">
    <div class="InfoItem InfoValue">
      <div class="InfoImage"></div>
      <div class="InfoContent">{{item?.value?.toLocaleString()}}</div>
    </div>
    <div class="InfoItem InfoGuild">
      <div class="InfoImage"></div>
      <div class="InfoContent">{{0}}</div>
    </div>
  </div>
</div>