<div>
  item find : {{ (items$ | async)?.length }}
</div>


<div class="Browse--Container">
  <div class="ItemBrowse--Container">
    <div class="ItemHeader--Container">
      <div class="ItemHeader--Image" [style]="'/ui/craft.png' | uiIcon">
      </div>
      <h2 class="ItemHeader--Title">Navigation : Plans</h2>
    </div>
    <div class="ItemSort--Container">
      <div class="ItemSortCategory--Content" *ngIf="filters$ | async as filters">

        <div class="ItemFilterCategory" *ngFor="let category of itemService.items.order"
          [ngClass]="{selected: filters.selectedCategory == category}" (click)="selectCategory(category)">
          <div class="FilterCategoryIcon" [style]=" '/ui/filtertypes/icon_' + category + '.png' | uiIcon">
          </div>
          <div class="FilterCategoryName">{{ category | titlecase }}</div>
        </div>

        <div class="ItemSort--Content">

          <div class="ItemFilter selected">
            <div class="FilterIcon" [style]=" 'ui/itemtypes/icon_' + '' + '.png'">
            </div>
          </div>

          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_axe.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_dagger.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_mace.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_spear.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_bow.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_wand.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_staff.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_gun.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
          <div class="ItemFilter">
            <div class="FilterIcon"
              style="background: rgba(0, 0, 0, 0) url(&quot;/images/assets/ui/itemtypes/icon_weapon_crossbow.png&quot;) no-repeat scroll center center / contain;">
            </div>
          </div>
        </div>
      </div>
      <div class="ItemCard--Container">
        <app-item *ngFor="let item of items$ | async | keyvalue" [item]="item?.value"></app-item>
      </div>
    </div>
  </div>