<div>
  item find : {{ (items$ | async)?.length }}
</div>


<div class="Browse--Container">
  <div class="ItemBrowse--Container">
    <div class="ItemHeader--Container">
      <div class="ItemHeader--Image" [style]="'/ui/craft.png' | uiIcon">
      </div>
      <h2 class="ItemHeader--Title">Navigation : Plans</h2>
    </div>
    <div class="ItemSort--Container">
      <div class="ItemSortCategory--Content" *ngIf="filters$ | async as filters">

        <div class="ItemFilterCategory" *ngFor="let category of itemService.items.order"
          [ngClass]="{selected: filters.selectedCategory == category}" (click)="selectCategory(category)">
          <div class="FilterCategoryIcon" [style]=" '/ui/filtertypes/icon_' + category + '.png' | uiIcon">
          </div>
          <div class="FilterCategoryName">{{ category | titlecase }}</div>
        </div>

        <div class="ItemSort--Content" *ngIf="selectedSubCategory$ | async as selectedSubCategory">

          <div class="ItemFilter" *ngFor="let subCategory of (subCategory$ | async)"
            [ngClass]="{selected: selectedSubCategory == subCategory}"
            (click)="selectSubCategory(filters.selectedCategory, subCategory)">
            <div class="FilterIcon" [style]=" getIconUrl(filters.selectedCategory, subCategory) | uiIcon">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="ItemCard--Container">
      <app-item *ngFor="let item of items$ | async" [item]="item"></app-item>
    </div>
  </div>
</div>